table {
    font-size: 16pt;
    font-weight: 800;
    button {
        font-size: 21pt;
        transition: background-color 0.3s ease;

        &.success {
            background-color: #2b602c;
        }
    }
}

.wrong {
    color: var(--hl-color);
}
